h1 {
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    }

body {
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
  }.card img{
    margin: 10% 20px 0;
}

.circle-img{
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
}

.top{
    margin-top: 120px ;
}

.bottom{
    margin-top: 120px;
}

info {
    margin: 20 px 0;
    color: #1a7e76;
}